* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0;
}

.block {
  width: calc(100% / 3);
  height: 60%;
  /* transform: translateY(-100%); */
  opacity: 0;
}

@media screen and (max-width: 992px) {
  .block {
    opacity: 1 !important;
    visibility: visible !important;
  }
}

@media screen and (max-width: 768px) {
  body::-webkit-scrollbar {
    width: 14px;
  }
  .slides-container {
    height: auto !important;
    overflow: visible !important;
  }
  .slide {
    /* display: block !important; */
    position: static !important;
    /* width: 100% !important; */
    height: auto !important;
    margin: 12px 0 !important;
  }
  .block {
    width: 100%;
    margin: 10px !important;
  }
  h2 {
    font-size: 16px;
  }
}